/* MIX */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
.flex-el{
  display:flex;
}
/* /MIX */

/* layout container and main box */
.container{
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.main-box{
  background-color: red;
  height:90%;
  min-width:900px;

}
/* /layout container and main box */

/* list section layout and messages section */
.list-section, .mex-section{
  height:100%;
  background-color: yellow;
  border:1px solid black;
}
.list-section{
  width:40%;
}
.mex-section{
  width:60%;
}
/* list section layout and messages section */

/* user box and contacts box layout */
.user-box{
  height:30%;
  background-color: green;
  border:1px solid black;
}
.contacts-box{
  height:70%;
  background-color: green;
  border:1px solid black;
  overflow: auto;
}
/* /user box and contacts box layout */

/* user layout */
.user{
  justify-content:space-between;
  padding:10px;
}
/* /user layout */

/* img user + name */
.img-user{

  align-items: center;
}
.img-user img{
  height:50px;
  width:50px;
  border-radius:50%;
  padding:5px;
}
.img-user h1{
  font-size:18px;
}
/* /img user + name */

/* main icons */
.main-icons{
  display:flex;
  align-items:center;
}
.main-icons ul{
  list-style-type: none;
}
.main-icons ul li:not(:last-of-type){
  margin-right:15px;
}
/* /main icons */

/* notifications */
.notifications{
  align-items:center;
  padding:10px;
}
.bell-icon{
  height:50px;
  width:50px;
  border-radius:50%;
  background-color:#fff;
  justify-content:center;
  align-items:center;
  margin-right:10px;
}
.bell-icon i{
  font-size:20px;
}
.bell-text h2{
  font-size:16px;
}
.bell-text a{
  font-size:14px;
}
/* /notifications */

/* chat-search */

/* /chat-search */
