/* MIX */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
}

/* /MIX */

/* layout container and main box */
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-box{
  background-color: red;
  height:90%;
  min-width:900px;
  display:flex;
}
/* /layout container and main box */

/* list section layout and messages section */
.list-section, .mex-section{
  height:100%;
  background-color: yellow;
  border:1px solid black;
}
.list-section{
  width:40%;
}
.mex-section{
  width:60%;
}
/* list section layout and messages section */
