<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boolzapp</title>
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <!-- /google font -->
    <!-- cdn vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- /cdn vue.js -->
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <!-- /fontawesome -->
    <!-- css style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- /css style -->
  </head>
  <body>

    <!-- main container -->
    <div class="container flex-el">

      <!-- main box -->
      <div class="main-box flex-el" id="root">

        <!-- list contact section -->
        <div class="list-section">

          <!-- user box -->

            <div class="user-box">

              <!-- user details -->
              <div class="user flex-el grey-high-icons">
                <!-- avatar + name -->
                <div class="img-user flex-el">
                  <a href="">
                    <img src="img/avatar_io.jpg" alt="user avatar">
                  </a>
                  <h1>Nome Utente</h1>
                </div>
                <!-- /avatar + name -->
                <!-- main icons -->
                <div class="main-icons">
                  <ul class="flex-el">
                    <li><a href=""><i class="fas fa-circle-notch"></i></a></li>
                    <li><a href=""><i class="fas fa-comment-alt"></i></a></li>
                    <li><a href=""><i class="fas fa-ellipsis-v"></i></a></li>
                  </ul>
                </div>
                <!-- /main icons -->
              </div>
              <!-- /user details -->

              <!-- notifications -->

              <div class="notifications flex-el">
                <div class="bell-icon flex-el">
                  <a href="">
                    <i class="fas fa-bell-slash"></i>
                  </a>
                </div>
                <div class="bell-text">
                  <h2>Ricevi notifiche di nuovi messaggi</h2>
                  <a href="">Attiva notifiche desktop</a>
                </div>
              </div>

              <!-- /notifications -->

              <!-- chat search -->

              <div class="chat-search">
                <label for="search-chat" class="flex-el">
                <div class="search-box">
                <i class="fas fa-search"></i>
                </div>
                <input type="text" name="" value="" placeholder="Cerca o inizia una nuova chat">
                </label>
              </div>

              <!-- /chat search -->

            </div>

          <!-- user box -->

          <!-- contacts box -->
          <div class="contacts-box">
            <ul>
              <li @click="indexContact = index" v-for="(item, index) in contacts" :class="indexContact == index? 'active' : ''">
                <img :src=" 'img/avatar' + item.avatar + '.jpg'" alt="user photo">
                <span>{{item.name}}</span>
              </li>
              <!-- <li>
                <img src="img/avatar_2.jpg" alt="user photo">
                <span>Fabio</span>
              </li>
              <li>
                <img src="img/avatar_3.jpg" alt="user photo">
                <span>Samuele</span>
              </li>
              <li>
                <img src="img/avatar_4.jpg" alt="user photo">
                <span>Luisa</span>
              </li> -->
            </ul>
          </div>
          <!-- contacts box -->

        </div>
        <!-- /list contact section -->

        <!-- messages section -->
        <div class="mex-section flex-el">

          <!-- contact bar -->
          <div class="user flex-el grey-high-icons">
            <!-- avatar + name -->
            <div class="img-user flex-el">
              <img :src=" 'img/avatar' + contacts[indexContact].avatar + '.jpg'" alt="contact avatar">
              <div class="name-text">
                <p>{{contacts[indexContact].name}}</p>
                <p>Ultimo accesso oggi alle</p>
              </div>
            </div>
            <!-- /avatar + name -->
            <!-- main icons -->
            <div class="main-icons">
              <ul class="flex-el">
                <li><a href=""><i class="fas fa-search"></i></a></li>
                <li><a href=""><i class="fas fa-paperclip"></i></a></li>
                <li><a href=""><i class="fas fa-ellipsis-v"></i></a></li>
              </ul>
            </div>
            <!-- /main icons -->
          </div>
          <!-- /contact bar -->

          <!-- text messages -->
          <div class="text-mex flex-el">
            <div class="speech-balloon" v-for="(item, i) in contacts[indexContact].messages" :class="item.status == 'sent'? 'send-mex' : 'received-mex' ">
              <p>{{item.message}}</p>
              <p class="data-mex">{{item.date}}</p>
            </div>
            <!-- <div class="speech-balloon send-mex">
              <p>Rirordati di dargli da mangiare</p>
              <p class="data-mex">29/03/2021 17:00</p>
            </div>
            <div class="speech-balloon received-mex">
              <p>Tutto fatto!</p>
              <p class="data-mex">29/03/2021 17:10</p>
            </div> -->
          </div>
          <!-- /text messages -->

          <!-- input footer -->
          <div class="input-footer flex-el">
            <i class="far fa-smile"></i>
            <input type="text" placeholder="Scrivi un messaggio" v-model="newText" @keyup="enterText">
            <i class="fas fa-microphone"></i>
          </div>
          <!-- /input footer -->

        </div>
        <!-- messages section -->

      </div>
      <!-- /main box -->

    </div>
    <!-- /main container -->







    <!-- day.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous"></script>
    <!-- /day.js -->
    <!-- script js -->
    <script src="js/script.js" charset="utf-8"></script>
    <!-- /script js -->
  </body>
</html>
